/* Make all LI's blue */
li {
    color: blue;
}

/* Make everything with the class of 'done' grey*/
.done {
    color: grey;
}

/* Make the element with the id of 'clear' have a red BG and white text */
#clear {
    background-color: red;
    color: white;
}